{% extends "layout.html.jinja2" %}
{% block title %} Error 404: Page not found! {% endblock %}

{% block content %}
  			<div class="col-md-8 col-sm-12">
				<main id="main-doc">


      <div>
          <br/><br/>
       <h3 id="title" class="tbh3"><a href="{{ root_path }}/index.html">Return to homepage</a></h3>
       <p>Sorry, the requested page is not available on our website. <br> Please click above to return to homepage.</p>
      </div>




</main>
</div>

{% endblock %}