{% extends "layout.html.jinja2" %}



{% block content %}


					<section class="main-section" id="Intro">
						<header>
							Bestatic Documentation
						</header>
						<p>
							Bestatic is a minimal yet  fully-featured static site generator built with Python and Jinja2 template engine.
							<br/><br/>
							Please browse through the pages listed below to get started and to explore in-depth. 
                            							<br/><br/>
						</p>


						<div class="row">
							<div class="col-sm-6">
								<div class="card text-white bg-secondary border-info mb-3">
								<div class="card-body">
									<h5 class="card-title">Quickstart</h5>
									<p class="card-text" style="color: rgba(255,255,255,0.99);">With supporting text below as a natural lead-in to additional content.</p>
									<a href="{{root_path}}/quickstart" class="btn btn-info">Read More</a>
								</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card text-white bg-secondary border-info mb-3">
								<div class="card-body">
									<h5 class="card-title">Installation</h5>
									<p class="card-text" style="color: rgba(255,255,255,0.99);">With supporting text below as a natural lead-in to additional content.</p>
									<a href="{{root_path}}/installation" class="btn btn-info">Read More</a>
								</div>
								</div>
							</div>

                            <div class="col-sm-6">
								<div class="card text-white bg-secondary border-info mb-3">
								<div class="card-body">
									<h5 class="card-title">Content Management</h5>
									<p class="card-text" style="color: rgba(255,255,255,0.99);">With supporting text below as a natural lead-in to additional content.</p>
									<a href="{{root_path}}/content-management" class="btn btn-info">Read More</a>
								</div>
								</div>
							</div>

                            <div class="col-sm-6">
								<div class="card text-white bg-secondary border-info mb-3">
								<div class="card-body">
									<h5 class="card-title">Command Line Options</h5>
									<p class="card-text" style="color: rgba(255,255,255,0.99);">With supporting text below as a natural lead-in to additional content.</p>
									<a href="{{root_path}}/CLI" class="btn btn-info">Read More</a>
								</div>
								</div>
							</div>

                            <div class="col-sm-6">
								<div class="card text-white bg-secondary border-info mb-3">
								<div class="card-body">
									<h5 class="card-title">Themes</h5>
									<p class="card-text" style="color: rgba(255,255,255,0.99);">With supporting text below as a natural lead-in to additional content.</p>
									<a href="{{root_path}}/themes" class="btn btn-info">Read More</a>
								</div>
								</div>
							</div>

                            <div class="col-sm-6">
								<div class="card text-white bg-secondary border-info mb-3">
								<div class="card-body">
									<h5 class="card-title">Deployment</h5>
									<p class="card-text" style="color: rgba(255,255,255,0.99);">With supporting text below as a natural lead-in to additional content.</p>
									<a href="{{root_path}}/deployment" class="btn btn-info">Read More</a>
								</div>
								</div>
							</div>

							</div>


					</section>
							<br/><br/>


{% endblock %}
