{% extends "layout.html.jinja2" %}
{% block title %}Blog Page | {{ title}}{% endblock %}
{% block description %}A list of all the posts on {{ title}}{% endblock %}
{% block content %}




<h2 class="tbh2"><br/>Blog Page {{page_index+1}} of {{page_range}}</h2>
<br>

{% if page_range !=1 %}
          {% if page_index == 0 %}
<p class="nextpage"><a href="{{ root_path }}/posts{{ page_index+2 }}{{extension}}">Next Page</a></p>
{% elif page_index == 1 and page_range !=1 %}
<div class="prevpage"><a href="{{ root_path }}/posts{{extension}}">Previous Page</a>
<span class="nextpage"><a href="{{ root_path }}/posts{{ page_index+2 }}{{extension}}">Next Page</a></span>


</div>
{% elif page_index == page_range-1 %}
<p class="prevpage"><a href="{{ root_path }}/posts{{ page_index }}{{extension}}">Previous Page</a></p>
{% else %}

<div class="prevpage"><a href="{{ root_path }}/posts{{ page_index }}{{extension}}">Previous Page</a>
              <span class="nextpage"><a href="{{ root_path }}/posts{{ page_index+2 }}{{extension}}">Next Page</a></span>
</div>
{% endif %}
{% endif %}

<br><br>
        {% for name in post %}
            <div>
        <h3 class="tbh3">{{ post[name].metadata["title"] }}</h3>
          <p class="myptag">Posted on {{ post[name].metadata["date"] }}</p>

         <small> Tags: {% for tag in post[name].tags %}
            <a href="{{root_path}}/post/{{ tag }}{{extension}}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %} </small>

        <p>{{ post[name].summary }}</p></ul>
        <p class="myreadmore"><a href="{{ root_path }}/post/{{ post[name].slug }}{{extension}}">Read More</a></p>
        <br><br>
            </div>
        {% endfor %}




{% endblock %}