<header class="headercool">
      <div class="container">
      <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-center flex-grow-1">

            <svg class="scaled-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.37 189"><defs><style>.cls-1,.cls-2{fill:#56b6c2;}.cls-2{font-size:120px;font-family:LMRomanDemi10-Regular, Latin Modern Roman Demi;}.cls-3{fill:#da6465;}</style></defs><title>Bestatic Logo</title><g id="Linescans"><path class="cls-1" d="M72.83,63.67,63,59.2H51.71V53.56H97.06c17.4,0,25.8,10,25.8,20.64,0,8.88-6.24,16.32-17.76,18.6,14.16,1.8,21,10.68,21,20.76,0,11.64-8.28,22.32-25.92,22.32H51.71v-5.64H63V71.5M78.7,65.25v1.13m0,0v24.5h14c9.72,0,13.08-7.8,13.08-16.68,0-15-8.16-15-10.32-15H78.7v6.05m27.24,35.59c-2.76-5.64-6.6-5.64-9-5.64H78.7v35h17a10.68,10.68,0,0,0,10.08-5.4c1.56-2.64,2.64-6.36,2.64-11.52C108.46,112.24,108.46,105.64,105.94,100.84Z"/><text class="cls-2" transform="translate(129 136)">est<tspan class="cls-3" x="150.12" y="0">atic</tspan></text></g></svg>

              </div>
        <div class="col-12 text-center">

{#            <a href="/"><img src="{{ Image_path }}/Logo_1.png" class="img-fluid" alt="Tatsat Banerjee" /></a>#}
        <h1 class="tbh1">A static-site generator for human beigns. </h1>
        <h3 class="tbh3diff">Bestatic is a free and open-source static-site engine that you can install graphically without
            worrying about dependencies. It can simply turn your text files into fully functional websites and blogs. </h3>
    <br/><br/>
        </div>


      </div>

          <div class="row">
        <div class="col-12 text-center">
        <a href="/docs/quickstart/" class="btn btn-outline-success btn-lg">Quick Start</a>
        </div>
        </div>

  </div>


    </div>

    </header>

</script>